{{ define "content" }}

    <section class="section is-paddingless" style="margin-top: 0.5rem; margin-bottom:2rem;">

        <div class="container">

            <!-- änderung begin karteikästen-->
            <h2 class="title has-text-black content-margins">Karteikästen</h2>

            <div class="media is-marginless">
                <div class="media-left">
                    <h6 class="has-text-black content-margins">im Karteikästen finden Sie alle öffentliche Karteien
                        </h6>
                </div>
                <div class="media-content">
                    <div>
                        <a class="content has-text-white"></a>
                    </div>
                </div>
                <div class="media-right field is-horizontal content-margins">

                    <div class="select is-hovered">
                        <form action="/kaesten" method="POST">
                            <input id="hidden" name="hidden" type="hidden" value=""/>
                            <select style="width:18rem;" required="true" name="category" id="field" onchange="this.form.submit()">

                                <option>Sortieren nach...</option>
                                <optgroup label="Naturwissenschaften">
                                    <option>Mathematik</option>
                                    <option>Physik</option>
                                    <option>Chemie</option>
                                    <option>Elektrotechnik</option>
                                    <option>Informatik</option>
                                    <option>Biologie</option>
                                    <option>Medizin</option>
                                    <option>Naturkunde</option>
                                    <option>Sonstiges</option>
                                </optgroup>
                                <optgroup label="Sprachen">
                                    <option>Chinesisch</option>
                                    <option>Deutsch</option>
                                    <option>Englisch</option>
                                    <option>Französisch</option>
                                    <option>Griechisch</option>
                                    <option>Italienisch</option>
                                    <option>Latein</option>
                                    <option>Rusisch</option>
                                    <option>Sonstiges</option>
                                </optgroup>
                                <optgroup label="Gesellschaft">
                                    <option>Ethik</option>
                                    <option>Geschichte</option>
                                    <option>Literatur</option>
                                    <option>Musik</option>
                                    <option>Politik</option>
                                    <option>Recht</option>
                                    <option>Soziales</option>
                                    <option>Sport</option>
                                    <option>Verkehrskunde</option>
                                    <option>Sonstiges</option>
                                </optgroup>
                                <optgroup label="Wirtschaft">
                                    <option>BWL</option>
                                    <option>Finanzen</option>
                                    <option>Landwirtschaft</option>
                                    <option>Marketing</option>
                                    <option>VWL</option>
                                    <option>Sonstiges</option>

                                </optgroup>
                                <optgroup label="Geisteswissenschaften">
                                    <option>Kriminologie</option>
                                    <option>Philosophie</option>
                                    <option>Phychologie</option>
                                    <option>Pädagogik</option>
                                    <option>Theologie</option>
                                    <option>Sonstiges</option>

                                </optgroup>
                            </select>
                        </form>
                    </div>

                    <input class="input is-hovered  input-width is-normal" type="text" placeholder="Suche">
                </div>

            </div>

            {{range  .Obercategorys}}
                {{if  ne (len .ElementKaesten) 0}}
                    <div>
                        <p class="has-text-black">
                            <strong>{{.Name}}</strong>
                        </p>
                    </div>
                    <div class="level level-left">
                        {{ range .ElementKaesten}}
                            <div class="floating-box">
                                <div class="card card-size">
                                    <header class="card-header green is-paddingless">
                                        <p class="card-header-title is-centered has-text-white">
                                            {{.Element.Category}}
                                        </p>

                                    </header>
                                    <div class="card-content">
                                        <div class="content is-small is-marginless">
                                            <div class="level is-marginless is-paddingless">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <a href="/users/kaesten/anschauen/{{.Element.Id }}/0">
                                                            <h4>{{.Element.Title}}</h4>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="level-right">
                                                    <div class="level-item has-text-white">
                                                        <div
                                                    class="hexagon level-right has-text-centered has-text-white is-transparent">

                                                            <p
                                                        class="is-centered has-text-centered has-text-white is-marginless line-height">
                                                                <strong class="has-text-white"
                                                            style="font-size:xx-small">{{.ElementKartenCount}}</strong>
                                                        Karten
                                                    </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <h6 class="has-text-black">{{.Element.Beschreibung}}</h6>
                                            </p>

                                        </div>

                                    </div>
                                    <a href="/users/kaesten/{{.Element.Id }}/lernhistories">
                                        <button type="button"
                                class="button mt-auto btn-lg centered has-background-warning has-text-white"
                                style="margin-bottom: 0.6rem;">Lernen</button>
                                    </a>
                                </div>
                            </div>
                        {{end}}
                    </div>
                {{end}}
            {{end}}
        </div>
    </section>

{{ end }}