{{define "content"}}
    <section class="section is-paddingless" style="margin-top: 0.5rem">

        <div class="container">

            <!--änderung karteikarten_erstellen begin-->
            <h2 class="title has-text-black content-margins">Karteikarten erstellen / bearbeiten</h2>
            <h6 class="has-text-black content-margins">
                <strong>Hier kannst du eine neue Kartei erstellen oder
                            eine vorhandene nach Bedarf bearbeiten.</strong>
            </h6>

            <div class="card is-large border-top content-margins">
                {{if .KastenErstllenFalse}}
                    <form action="/users/kaesten/bearbeiten/{{.CurrentKasten.Id}}" method="POST">
                    {{else}}
                        <form action="/users/kaesten" method="POST">
                        {{end}}
                        <!--änderung begin neu-->
                        <div class="card-content cardcontent">
                            <p class="subtitle is-marginless is-paddingless">
                                <strong>Allgemeine Daten</strong>
                            </p>
                            <br/>
                            <div class="field is-horizontal  registration-margin" style="margin-top: 1rem;">
                                <div class="field-label is-normal">
                                    <label class="label">Title</label>
                                </div>
                                <div class="field-body">

                                    <p class="control">
                                        <input class="input is-hovered  kartei-erstellen-info-form is-normal is-hovered" type="text" name="title" {{if .KastenErstllenFalse}}value="{{.CurrentKasten.Title}}"{{end}}>
                                    </p>

                                </div>
                            </div>
                            <div class="field is-horizontal registration-margin" >
                                <div class="field-label is-normal">
                                    <label class="label">Kategorie</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-horizontal" >
                                        <p class="control">

                                            <div class="select is-hovered">
                                                <input id="hidden" name="hidden" type="hidden" value=""/>
                                                <select style="width:18rem;"  name="category" id="field" required="true">
                                                    <option>eine Kategorie auswählen</option>
                                                    <optgroup label="Naturwissenschaften">
                                                        <option>Mathematik</option>
                                                        <option>Physik</option>
                                                        <option>Chemie</option>
                                                        <option>Elektrotechnik</option>
                                                        <option>Informatik</option>
                                                        <option>Biologie</option>
                                                        <option>Medizin</option>
                                                        <option>Naturkunde</option>
                                                        <option>Sonstiges</option>
                                                    </optgroup>
                                                    <optgroup label="Sprachen">
                                                        <option>Chinesisch</option>
                                                        <option>Deutsch</option>
                                                        <option>Englisch</option>
                                                        <option>Französisch</option>
                                                        <option>Griechisch</option>
                                                        <option>Italienisch</option>
                                                        <option>Latein</option>
                                                        <option>Rusisch</option>
                                                        <option>Sonstiges</option>
                                                    </optgroup>
                                                    <optgroup label="Gesellschaft">
                                                        <option>Ethik</option>
                                                        <option>Geschichte</option>
                                                        <option>Literatur</option>
                                                        <option>Musik</option>
                                                        <option>Politik</option>
                                                        <option>Recht</option>
                                                        <option>Soziales</option>
                                                        <option>Sport</option>
                                                        <option>Verkehrskunde</option>
                                                        <option>Sonstiges</option>
                                                    </optgroup>
                                                    <optgroup label="Wirtschaft">
                                                        <option>BWL</option>
                                                        <option>Finanzen</option>
                                                        <option>Landwirtschaft</option>
                                                        <option>Marketing</option>
                                                        <option>VWL</option>
                                                        <option>Sonstiges</option>

                                                    </optgroup>
                                                    <optgroup label="Geisteswissenschaften">
                                                        <option>Kriminologie</option>
                                                        <option>Philosophie</option>
                                                        <option>Phychologie</option>
                                                        <option>Pädagogik</option>
                                                        <option>Theologie</option>
                                                        <option>Sonstiges</option>

                                                    </optgroup>
                                                </select>
                                            </div>

                                        </p>
                                        {{if .CategoryFalse }}
                                            <hgroup class="speech-bubble has-text-white"
                                        style="height: 1.6rem; margin-left: 1rem;">
                                                <h6>Pflichtfeld!</h6>
                                            </hgroup>
                                        {{end}}
                                    </div>

                                </div>
                            </div>
                            <br/>
                            <div class="field is-horizontal registration-margin">
                                <div class="field-label is-normal">
                                    <label class="label">Beschreibung</label>
                                </div>
                                <div class="field-body">

                                    <div class="control kartei-erstellen-info-form">
                                        <textarea class="textarea is-hovered" name="beschreibung">{{if .KastenErstllenFalse}}{{.CurrentKasten.Beschreibung}}{{end}}</textarea>
                                    </div>

                                </div>
                            </div>

                            <div class="field is-horizontal  registration-margin" style="margin-top: 1rem;">
                                <div class="field-label is-normal">
                                    <label class="label">Sichtbarkeit</label>
                                </div>
                                <div class="field-body">

                                    <div class="control">

                                        <label class="radio">
                                            <!-- {{ if eq .CurrentKasten.Sichtbarkeit "öffentlich" }}checked{{end}} {{ if eq .CurrentKasten.Sichtbarkeit "private" }}checked{{end}} -->
                                            <input type="radio" name="sichtbarkeit" value="öffentlich" {{if .KastenErstllenFalse}}{{if (eq .CurrentKasten.Sichtbarkeit "öffentlich") }}checked{{end}} {{end}}>
                                        Öffentlich
                                    </label>

                                        <label class="radio">

                                            <input type="radio" name="sichtbarkeit" value="private" {{if .KastenErstllenFalse}}{{if (eq .CurrentKasten.Sichtbarkeit "private") }}checked{{end}}{{end}} >
                                        Private
                                    </label>

                                    </div>

                                </div>

                            </div>

                            <div>
                                <button  type="submit" class="button is-medium is-centered is-warning has-text-white"
                                style="margin-left:27rem; margin-bottom:1.1rem;">
                                    <strong>Speicher und
                                    weiter</strong>
                                </button>
                            </div>
                        </form>
                    </div>

                    <!--änderung ende neu-->
                    <!--änderung karteikarten_erstellen ende-->
                </div>
            </section>
        {{end}}