{{define "content"}}
    <section class="section is-paddingless" style="margin-top: 0.5rem; margin-right: 1rem;">

        <div class="container" style=" margin-right: 6rem;">

            <!--änderung karteikarten_erstellen begin-->
            <h2 class="title has-text-black content-margins">Mein Profil
                    </h2>
            <h6 class="has-text-black content-margins">
                <strong>Hier kannst du deine Profildaten aktualisieren
                            oder ändern.</strong>
            </h6>

            <br/>

            <div class="mein-profil-grid content-margins">

                <div class="card border-top">
                    <br/>

                    <div class="card-header-title is-centered">
                        <figure class="image is-64x64 has-background-black">
                        {{if (eq .ProfilBildName  "" )  }}
                         <img src="/static/Icons/Mein-Profil.svg" alt="/static/Icons/Mein-Profil.svg">
                         {{else}}
                            <img src="/static/Images/{{.ProfilBildName}}" alt="/static/Icons/Mein-Profil.svg">
                            {{end}}
                        </figure>
                    </div>

                    <div class="card-header-title is-centered">
                        <form action="/users/profil" method="POST" enctype="multipart/form-data">
                        <input  name="upload" type="hidden" value="upload"/>
                            <input id="fileupload" class="is-hidden" type="file"  name="editbild" >
                            <Label for="fileupload" class="button is-small  is-warning has-text-white">Edit</Label>
                            <input type="submit" class="button is-small  is-warning has-text-white" value="upload" />
                        </form>
                    </div>

                    <div class="card-header-title is-centered">
                        {{.CurrentUser.Nutzername}}</div>
                    <div>
                        <p class="content middle">{{.CurrentUser.Email}}</p>
                    </div>

                </div>

                <div class="card b  is-large border-top">
                    <div class="card-content cardcontent content-margins ">
                        <div class="title content-margins"> Update der Profildaten</div>

                        <br/>
                        <form action="/users/profil" method= "POST">
                            <div class="field is-horizontal " style="margin-top: 1rem;">
                                <div class="field-label is-normal">
                                    <label class="label">Neue Email</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-horizontal">
                                        <p class="control">
                                            <input class="input is-hovered  input-width is-normal" type="email" name="email"
                                                    placeholder="muster@example.com">
                                        </p>
                                        {{if .EmailFalse}}
                                            <hgroup class="speech-bubble has-text-white"
                                                style="height: 1.6rem; margin-left: 1rem; ">
                                                <h6 style=" margin-top:0rem;">Diese Mail ist bereit vergeben!</h6>
                                            </hgroup>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal ">
                                <div class="field-label is-normal">
                                    <label class="label">Altes Passwort</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-horizontal">
                                        <p class="control">
                                            <input class="input is-hovered  input-width" name="passwortAlt" type="password" placeholder="">
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="field is-horizontal ">
                                <div class="field-label is-normal">
                                    <label class="label">Neues Passwort</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-horizontal">
                                        <p class="control">
                                            <input class="input is-hovered  input-width" name="passwortNeu" type="password" placeholder="">
                                        </p>
                                        {{if not .PswGleich}}
                                            <hgroup class="speech-bubble has-text-white"
                                                style="height: 1.6rem; margin-left: 0.4rem;">
                                                <h6 >Altes Passwort darf nicht mit neuem übereinstimmen!</h6>
                                            </hgroup>
                                        {{end}}
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal ">
                                <div class="field-label is-normal">
                                    <label class="label">Passwort Wiederholen</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-horizontal">
                                        <p class="control">
                                            <input class="input is-hovered  input-width" name="passwortNeu2" type="password" placeholder="">
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <div class="level">
                                <div class="level-item is-centered">
                                    <div class="buttons ">
                                        <button type="submit" 
                                                class="button  is-warning has-text-white">
                                            <strong>Speichern</strong>
                                        </button>
                                    </form>
                                    <div class="w3-container">

                                        <button onclick="document.getElementById('id01').style.display='block'"
                                                    class="button  has-background-danger has-text-white">
                                            <figure class="is-marginless  image is-16x16">
                                                <img src="/static/Icons/Delete.svg">
                                            </figure>
                                        </button>

                                    </button>

                                    <div id="id01" class="w3-modal">
                                        <div class="w3-modal-content w3-card-4 w3-animate-zoom border-top"
                                                        style="max-width:600px">

                                            <div class=" content-margins">
                                                <strong>Löschen</strong>
                                            </div>
                                            <div class=" content-margins">Bist du dir sicher, dass du dein
                                                            Profil löschen möchtest?</div>

                                            <div class="w3-section">
                                                <div class="buttons is-centered">

                                                    <button onclick="document.getElementById('id01').style.display='none'"
                                                                        class="button green has-text-white"
                                                                        type="submit">Profil behalten</button>
                                                    <form class="w3-container" action="/users/profil" method="POST">
                                                        <input  name="delete" type="hidden" value="delete"/>
                                                        <button class="button is-danger has-text-white "
                                                                        type="submit">Profil löschen</button>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card border-top">
                <table class="table table-statistik content-margins">

                    <thead>
                        <tr>
                            <th>Statistik</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <th></th>

                        </tr>

                        <tr>
                            <td>Erstellte Karten:</td>
                            <th>{{.KartenCountByUserID}}</th>

                        </tr>

                        <tr>
                            <td>Erstellte Karteien:</td>
                            <th>{{.KaestenCountByUserId}}</th>

                        </tr>
                        <tr>
                            <td>Mitglied seit:</td>
                            <th>22.12.2018</th>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

{{end}}